.header--main .btn,
.footer--contacts .form .btn_block .btn {
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
}
.our_services--content_block .work .content--title {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
  margin-bottom: 16px;
  letter-spacing: 0.07rem;
  color: #fff;
}
.our_services--content_block .work .content--text {
  font-size: 17px;
  line-height: 26px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  z-index: 2;
  margin-bottom: 50px;
  letter-spacing: 0rem;
  color: #fff;
}
.our_services--content_block .work .content--link {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  color: #f9fbfb;
  text-transform: uppercase;
  z-index: 2;
  letter-spacing: 0.03rem;
  color: #fff;
}
.our_services--content_block .work .layer_black {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}
.about_us--title,
.featured_works--title,
.our_services--title,
.small_team--title,
.reviews--title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 45px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 758px) {
  .about_us--title,
  .featured_works--title,
  .our_services--title,
  .small_team--title,
  .reviews--title {
    font-size: 28px;
    line-height: 35px;
    margin: auto 10px;
  }
}
.about_us--subtitle,
.featured_works--subtitle,
.our_services--subtitle,
.small_team--subtitle,
.reviews--subtitle {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 28px;
  color: #9e9f9f;
  font-weight: normal;
}
@media screen and (max-width: 758px) {
  .about_us--subtitle,
  .featured_works--subtitle,
  .our_services--subtitle,
  .small_team--subtitle,
  .reviews--subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: auto 10px;
  }
}
.about_us--content_block .slider .swiper-slide .background,
.about_us--content_block .slider .swiper-slide img,
.featured_works--content_block .work img,
.our_services--content_block .work--picture,
.small_team--content_block .item--foto,
.reviews--content_block .swiper-container .swiper-button-next::after,
.reviews--content_block .slide--foto .client_foto,
.reviews--content_block .slide--foto .client_foto img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
a {
  text-decoration: none;
}
.container {
  min-width: 319px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}
.header {
  padding: 65px 10.6% 30px 10.5%;
  padding-bottom: 30px;
  width: 100%;
  height: 803px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background-color: #eff0f2;
  color: #505050;
}
@media screen and (max-width: 1400px) {
  .header {
    height: max-content;
  }
}
.header--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--nav .logo {
  width: 114px;
}
.header--nav .logo img {
  width: 100%;
  height: auto;
}
.header--nav .menu {
  width: 30px;
  height: 30px;
  margin-top: 13px;
}
.header--main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  -ms-flex-direction: column;
  margin-top: 188px;
}
@media screen and (max-width: 758px) {
  .header--main {
    margin-top: 15vw;
  }
}
.header--main .main_text {
  margin-bottom: 139px;
}
@media screen and (max-width: 758px) {
  .header--main .main_text {
    margin-bottom: 15vw;
  }
}
.header--main .text {
  font-size: 46px;
  letter-spacing: 0.02rem;
  word-spacing: 0.5rem;
  line-height: 58px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  text-shadow: 4px 7px 6px rgba(80, 80, 80, 0.3);
}
@media screen and (max-width: 758px) {
  .header--main .text {
    font-size: 30px;
    line-height: 40px;
  }
}
.header--main .text--colorBg {
  background-color: #b2f2ee;
  padding: 0px 12px 0px 10px;
  box-sizing: border-box;
}
.header--main .btn {
  background-color: transparent;
  border: 1px solid #505050;
  color: #505050;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231px;
  height: 51px;
  letter-spacing: 0.15rem;
  transition: all 1s ease;
}
@media screen and (max-width: 758px) {
  .header--main .btn {
    width: 85%;
  }
}
.header--main .btn:hover {
  background-color: #71f5ea;
  border-radius: 5px;
  -webkit-box-shadow: 4px 7px 6px rgba(80, 80, 80, 0.3);
  -moz-box-shadow: 4px 7px 6px rgba(80, 80, 80, 0.3);
  box-shadow: 4px 7px 6px rgba(80, 80, 80, 0.3);
  transition: all 1s ease;
}
.header--main .header_pic {
  width: 100%;
  position: relative;
  height: 70px;
}
@media screen and (max-width: 758px) {
  .header--main .header_pic {
    display: none;
  }
}
.header--main .header_pic img {
  position: absolute;
  top: -8px;
  right: 8.4%;
}
.header--main .header_pic .upper_layer {
  top: -25px;
  right: 8%;
}
.about_us {
  text-align: center;
  padding: 123px 30px 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8fafa;
  width: 100%;
  height: 986px;
}
@media screen and (max-width: 1400px) {
  .about_us {
    height: max-content;
    padding: 123px 10px 10px;
  }
}
@media screen and (max-width: 515px) {
  .about_us {
    padding: 120px 0px 0px;
  }
}
.about_us--title {
  margin-left: 20px;
}
.about_us--subtitle {
  font-size: 20px;
  line-height: 32px;
}
@media screen and (max-width: 758px) {
  .about_us--subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
.about_us--content_block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 134px;
  max-width: 1152px;
  width: 80%;
}
@media screen and (max-width: 1295px) {
  .about_us--content_block {
    width: 100%;
  }
}
@media screen and (max-width: 758px) {
  .about_us--content_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 40px;
    width: 100%;
  }
}
.about_us--content_block .slider {
  width: 47%;
  box-sizing: border-box;
}
@media screen and (max-width: 758px) {
  .about_us--content_block .slider {
    width: 100%;
  }
}
.about_us--content_block .slider .swiper-slide {
  width: 100%;
  height: 550px;
  position: relative;
}
.about_us--content_block .slider .swiper-slide .background {
  width: 90%;
  height: 75%;
  background-color: #edeef0;
  transform: translate(-50%, 0%);
  top: 7%;
  z-index: -1;
}
@media screen and (max-width: 515px) {
  .about_us--content_block .slider .swiper-slide .background {
    display: none;
    width: 100%;
  }
}
.about_us--content_block .slider .swiper-slide img {
  z-index: 5;
  transform: translate(-50%, 0%);
  top: 0;
}
@media screen and (max-width: 758px) {
  .about_us--content_block .swiper-pagination {
    display: none;
  }
}
.about_us--content_block .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 2px;
}
.about_us--content_block .swiper-pagination-bullet-active {
  background-color: #71f6eb;
}
.about_us--content_block .content {
  width: 50%;
  padding: 0 20px 0 58px;
  box-sizing: border-box;
  margin-left: 33px;
}
@media screen and (max-width: 758px) {
  .about_us--content_block .content {
    width: 100%;
    padding: 0 20px 0 20px;
    margin-left: 10px;
  }
}
.about_us--content_block .content--title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 35px;
  color: #646565;
  font-weight: bold;
  font-family: "Merriweather", serif;
  text-align: left;
  letter-spacing: 0.09rem;
  margin-bottom: 15px;
}
.about_us--content_block .content--text {
  font-size: 17px;
  line-height: 28px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  text-align: left;
  color: #9e9f9f;
  letter-spacing: 0.02rem;
  margin-bottom: 27px;
}
.about_us--content_block .content--subtitle {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: #646565;
  font-weight: bold;
  font-family: "Merriweather", serif;
  text-align: left;
  margin-bottom: 11px;
  margin-top: 29px;
  letter-spacing: 0.03rem;
}
.about_us--content_block .content--subtitle + p {
  margin-bottom: 0px;
}
.featured_works {
  text-align: center;
  padding: 123px 30px 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 100%;
  height: 1167px;
}
@media screen and (max-width: 1400px) {
  .featured_works {
    height: max-content;
  }
}
@media screen and (max-width: 515px) {
  .featured_works {
    padding: 120px 0px 0px;
  }
}
.featured_works--title {
  margin-left: 40px;
}
.featured_works--subtitle {
  margin-bottom: 107px;
}
@media screen and (max-width: 515px) {
  .featured_works--subtitle {
    margin-bottom: 50px;
  }
}
.featured_works--content_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1152px;
}
.featured_works--content_block .work {
  width: 370px;
  height: 360px;
  margin: 7px;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
}
.featured_works--content_block .work:hover {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  transform: scale(0.95);
  transition: all 1s ease-in;
}
.our_services {
  text-align: center;
  padding: 116px 30px 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9fbfb;
  width: 100%;
  height: 1618px;
}
@media screen and (max-width: 1400px) {
  .our_services {
    height: max-content;
  }
}
@media screen and (max-width: 515px) {
  .our_services {
    padding: 56px 0px 0px;
  }
}
.our_services--title {
  margin-left: 0px;
  letter-spacing: 0.13rem;
}
.our_services--subtitle {
  margin-bottom: 108px;
}
@media screen and (max-width: 515px) {
  .our_services--subtitle {
    margin-bottom: 50px;
  }
}
.our_services--content_block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1296px;
}
.our_services--content_block .work {
  margin: 7px;
  overflow: hidden;
  position: relative;
  text-align: left;
  box-sizing: border-box;
}
.our_services--content_block .work--picture {
  z-index: 0;
  width: 100%;
}
.our_services--content_block .work .content {
  position: absolute;
  z-index: 2;
  height: 199px;
  width: 70%;
  box-sizing: border-box;
  text-align: left;
  color: #f9fbfb;
}
.our_services--content_block .work .content--link span {
  margin-left: 15px;
  font-size: 20px;
}
.our_services--content_block .work .content--link:hover {
  text-shadow: 0px 5px 20px #000000;
  color: #71f5ea;
}
.our_services .open_work {
  background-color: #71f5ea;
  width: 100%;
  height: 100%;
  padding: 40px 20px 20px 20px;
  box-sizing: border-box;
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}
.our_services .open_work.open {
  visibility: visible;
  opacity: 1;
  transition: all 1s ease;
}
@media screen and (max-width: 758px) {
  .our_services .open_work {
    height: max-content;
  }
}
.our_services .open_work--content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.our_services .open_work .title {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
  margin-bottom: 15px;
  letter-spacing: 0.09rem;
  color: #1d4b47;
}
.our_services .open_work .text {
  font-size: 17px;
  line-height: 28px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  z-index: 2;
  margin-bottom: 20px;
  letter-spacing: 0.019rem;
  margin-bottom: 25px;
  color: #1d4b47;
  margin-top: 29px;
}
.our_services .open_work svg {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.our_services .work-1 {
  background-color: #71f5ea;
  height: 422px;
  width: 652px;
  padding: 63px 8% 0 64px;
  box-sizing: border-box;
}
@media screen and (max-width: 758px) {
  .our_services .work-1 {
    padding: 40px 20px 20px 20px;
    height: max-content;
  }
}
.our_services .work-1 .title {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
  margin-bottom: 15px;
  letter-spacing: 0.09rem;
  color: #1d4b47;
}
.our_services .work-1 .text {
  font-size: 17px;
  line-height: 28px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  z-index: 2;
  margin-bottom: 15px;
  letter-spacing: 0.019rem;
  margin-bottom: 15px;
  color: #1d4b47;
  margin-top: 29px;
}
.our_services .work-1 svg {
  margin: 54px auto 30px auto;
}
@media screen and (max-width: 758px) {
  .our_services .work-1 svg {
    margin: 15px auto 10px auto;
  }
}
.our_services .work-2 {
  height: 422px;
  width: 474px;
}
.our_services .work-2 .work--picture {
  top: 50%;
  left: 52%;
  width: 104%;
}
.our_services .work-2 .content {
  left: 66px;
  bottom: 38px;
}
.our_services .work-3 {
  height: 370px;
  width: 652px;
}
.our_services .work-3 .work--picture {
  top: 53%;
  left: 51%;
  width: 81%;
}
.our_services .work-3 .content {
  left: 66px;
  bottom: 9px;
  width: 65%;
}
.our_services .work-3 .content--title {
  margin-bottom: 19px;
}
.our_services .work-3 .content--text {
  margin-bottom: 44px;
}
.our_services .work-3 .content--link {
  letter-spacing: 0.1rem;
}
.our_services .work-3 .content--link span {
  margin-left: 10px;
  font-size: 20px;
}
.our_services .work-4 {
  height: 370px;
  width: 474px;
}
.our_services .work-4 .work--picture {
  top: 46%;
  left: 77%;
  width: auto;
  height: 107%;
}
.our_services .work-4 .content {
  left: 66px;
  bottom: 8px;
}
.our_services .work-4 .content--title {
  margin-bottom: 20px;
}
.our_services .work-4 .content--text {
  line-height: 24px;
  margin-bottom: 47px;
}
.our_services .work-5 {
  height: 370px;
  width: 474px;
}
.our_services .work-5 .work--picture {
  top: 49%;
  left: 48%;
  width: 105%;
}
.our_services .work-5 .content {
  left: 66px;
  bottom: 43px;
  width: 60%;
}
.our_services .work-5 .content--title {
  margin-bottom: 19px;
}
.our_services .work-5 .content--text {
  margin-bottom: 75px;
  letter-spacing: -0.01rem;
}
.our_services .work-6 {
  height: 370px;
  width: 652px;
}
.our_services .work-6 .work--picture {
  top: 51%;
  left: 57%;
  width: 127%;
}
.our_services .work-6 .content {
  left: 66px;
  bottom: 43px;
  width: 65%;
}
.our_services .work-6 .content--title {
  margin-bottom: 18px;
}
.our_services .work-6 .content--text {
  margin-bottom: 52px;
  letter-spacing: 0rem;
}
.our_services .work-6 .content--link {
  letter-spacing: 0.07rem;
  margin-left: 5px;
}
@media screen and (max-width: 758px) {
  .our_services .work {
    width: 90%;
  }
}
@media screen and (max-width: 515px) {
  .our_services .work {
    width: 100%;
    margin: 7px 0;
  }
}
@media screen and (max-width: 758px) {
  .our_services .work .content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 85%;
  }
}
.small_team {
  text-align: center;
  padding: 113px 30px 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 100%;
  height: 1313px;
}
@media screen and (max-width: 1400px) {
  .small_team {
    height: max-content;
  }
}
@media screen and (max-width: 1295px) {
  .small_team {
    padding-left: 0;
    padding-right: 0;
  }
}
.small_team--title {
  margin-left: 5px;
}
.small_team--subtitle {
  margin-bottom: 107px;
}
@media screen and (max-width: 515px) {
  .small_team--subtitle {
    margin-bottom: 50px;
  }
}
.small_team--content_block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1296px;
  width: 90%;
}
@media screen and (max-width: 1295px) {
  .small_team--content_block {
    width: 100%;
  }
}
.small_team--content_block .item {
  position: relative;
  width: 30%;
  height: 441px;
  min-width: 310px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 7px;
  position: relative;
}
@media screen and (max-width: 1295px) {
  .small_team--content_block .item {
    width: 35%;
  }
}
@media screen and (max-width: 758px) {
  .small_team--content_block .item {
    width: 45%;
    height: 400px;
  }
}
.small_team--content_block .item:hover .item--dropdown {
  visibility: visible;
  opacity: 1;
  transition: all 1s ease;
}
.small_team--content_block .item--foto {
  height: 100%;
}
.small_team--content_block .item--dropdown {
  width: 90%;
  height: 54.5%;
  padding: 40px 41px 32px 39px;
  position: absolute;
  bottom: 17px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  box-sizing: border-box;
  text-align: left;
  background-color: #6df6eb;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
}
@media screen and (max-width: 1295px) {
  .small_team--content_block .item--dropdown {
    padding: 20px 10px 10px;
    max-width: 330px;
  }
}
.small_team--content_block .item--dropdown .triagle {
  position: absolute;
  left: 12px;
  top: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 40px 20px;
  border-color: transparent transparent #6df6eb transparent;
  z-index: 1;
}
@media screen and (max-width: 758px) {
  .small_team--content_block .item--dropdown .triagle {
    top: -10px;
    border-width: 0 10px 20px 10px;
  }
}
.small_team--content_block .item--dropdown .title {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.07rem;
  z-index: 3;
}
.small_team--content_block .item--dropdown .title span {
  font-style: italic;
  font-size: 14px;
  text-transform: capitalize;
  color: #767978;
}
.small_team--content_block .item--dropdown .title span::before {
  content: "|";
  margin-right: 5px;
}
.small_team--content_block .item--dropdown .text {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  margin: 19px auto 34px;
  color: #225450;
  letter-spacing: 0.015rem;
}
.small_team--content_block .item--dropdown .links {
  width: 100%;
}
.small_team--content_block .item--dropdown .links a {
  margin-right: 10px;
}
.reviews {
  text-align: center;
  padding: 113px 30px 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9fbfb;
  width: 100%;
  height: 924px;
}
@media screen and (max-width: 1400px) {
  .reviews {
    height: max-content;
  }
}
@media screen and (max-width: 515px) {
  .reviews {
    padding: 120px 0px 0px;
  }
}
.reviews--title {
  margin-left: 0px;
  letter-spacing: 0.125rem;
}
.reviews--subtitle {
  margin-bottom: 35px;
}
.reviews--content_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  width: 88%;
  height: 600px;
}
@media screen and (max-width: 1000px) {
  .reviews--content_block {
    height: 700px;
    width: 100%;
  }
}
.reviews--content_block .swiper-container {
  height: 100%;
}
.reviews--content_block .swiper-container .swiper-button-next {
  top: calc(100% - 68px);
  right: 38px;
  width: 53px;
  height: 53px;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 4px 7px 6px rgba(80, 80, 80, 0.3);
  -moz-box-shadow: 4px 7px 6px rgba(80, 80, 80, 0.3);
  box-shadow: 4px 7px 6px rgba(80, 80, 80, 0.3);
}
.reviews--content_block .swiper-container .swiper-button-next svg path {
  fill: #000;
  opacity: 0.2;
}
.reviews--content_block .swiper-container .swiper-button-next::after {
  content: "";
  top: 36%;
}
.reviews--content_block .swiper-container .swiper-button-next:hover {
  background-color: #71f6eb;
}
.reviews--content_block .swiper-container .swiper-button-next:hover svg path {
  opacity: 1;
}
.reviews--content_block .swiper-container .swiper-button-prev {
  top: calc(100% - 68px);
  left: calc(100% - 172px);
  width: 53px;
  height: 53px;
  background-color: #ffffff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 4px 7px 6px rgba(80, 80, 80, 0.3);
  -moz-box-shadow: 4px 7px 6px rgba(80, 80, 80, 0.3);
  box-shadow: 4px 7px 6px rgba(80, 80, 80, 0.3);
}
@media screen and (max-width: 1000px) {
  .reviews--content_block .swiper-container .swiper-button-prev {
    left: 38px;
  }
}
.reviews--content_block .swiper-container .swiper-button-prev svg {
  transform: rotate(180deg);
}
.reviews--content_block .swiper-container .swiper-button-prev svg path {
  fill: #000;
  opacity: 0.2;
}
.reviews--content_block .swiper-container .swiper-button-prev::after {
  content: "";
}
.reviews--content_block .swiper-container .swiper-button-prev:hover {
  background-color: #71f6eb;
}
.reviews--content_block .swiper-container .swiper-button-prev:hover svg path {
  opacity: 1;
}
.reviews--content_block .swiper-container .swiper-pagination {
  width: 38%;
  bottom: 35px;
}
@media screen and (max-width: 1000px) {
  .reviews--content_block .swiper-container .swiper-pagination {
    width: 100%;
  }
}
@media screen and (max-width: 758px) {
  .reviews--content_block .swiper-container .swiper-pagination {
    display: none;
  }
}
.reviews--content_block .swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 2px;
}
.reviews--content_block .swiper-container .swiper-pagination-bullet-active {
  background-color: #71f6eb;
}
@media screen and (max-width: 1000px) {
  .reviews--content_block .swiper-container .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 7px;
  }
}
.reviews--content_block .slide {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1000px) {
  .reviews--content_block .slide {
    flex-direction: column;
  }
}
.reviews--content_block .slide--foto {
  width: 394px;
  height: 363px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaebed;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .reviews--content_block .slide--foto {
    width: 100%;
    margin: 20px auto;
  }
}
@media screen and (max-width: 515px) {
  .reviews--content_block .slide--foto {
    background-color: transparent;
  }
}
.reviews--content_block .slide--foto .client_foto {
  overflow: hidden;
  width: 81%;
  height: 112%;
  min-width: 310px;
  min-height: 365px;
  box-sizing: border-box;
  -webkit-box-shadow: 5px 9px 15px rgba(80, 80, 80, 0.3);
  -moz-box-shadow: 5px 9px 15px rgba(80, 80, 80, 0.3);
  box-shadow: 5px 9px 15px rgba(80, 80, 80, 0.3);
}
@media screen and (max-width: 1000px) {
  .reviews--content_block .slide--foto .client_foto {
    width: 310px;
  }
}
@media screen and (max-width: 515px) {
  .reviews--content_block .slide--foto .client_foto {
    top: calc(50% - 15px);
    min-height: 100%;
    min-width: 100%;
    background-color: #eaebed;
  }
}
.reviews--content_block .slide--foto .client_foto img {
  height: 103%;
  top: 50.5%;
  left: 54%;
}
@media screen and (max-width: 1000px) {
  .reviews--content_block .slide--foto .client_foto img {
    left: 50%;
  }
}
@media screen and (max-width: 515px) {
  .reviews--content_block .slide--foto .client_foto img {
    -webkit-box-shadow: 5px 9px 15px rgba(80, 80, 80, 0.3);
    -moz-box-shadow: 5px 9px 15px rgba(80, 80, 80, 0.3);
    box-shadow: 5px 9px 15px rgba(80, 80, 80, 0.3);
  }
}
.reviews--content_block .slide--description {
  width: 665px;
  height: 363px;
  padding: 8.1% 30px 30px;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #eaebed;
  margin-left: 8px;
}
@media screen and (max-width: 1400px) {
  .reviews--content_block .slide--description {
    height: max-content;
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .reviews--content_block .slide--description {
    width: 100%;
    margin-left: 0px;
  }
}
.reviews--content_block .slide--description .title {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-left: 29px;
  letter-spacing: 0.09rem;
}
@media screen and (max-width: 1000px) {
  .reviews--content_block .slide--description .title {
    width: 100%;
    margin-left: 0px;
  }
}
.reviews--content_block .slide--description .title span {
  font-style: italic;
  font-size: 14px;
  text-transform: uppercase;
  color: #767978;
}
.reviews--content_block .slide--description .title span::before {
  content: "|";
  margin-right: 5px;
}
.reviews--content_block .slide--description .text {
  font-size: 17px;
  line-height: 27px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  margin: 22px 54px 28px;
  color: #225450;
  text-align: center;
  word-spacing: 0.14rem;
}
@media screen and (max-width: 1000px) {
  .reviews--content_block .slide--description .text {
    margin: 15px;
  }
}
.reviews--content_block .slide--description .stars span {
  color: #f2da3b;
  font-size: 20px;
  margin-right: 6px;
}
@media screen and (max-width: 1000px) {
  .reviews--content_block .slide--description .stars {
    margin-bottom: 70px;
  }
}
.client_logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 107px 50px;
  box-sizing: border-box;
  background-color: #fff;
}
.client_logos--picture {
  width: 100%;
}
@media screen and (max-width: 758px) {
  .client_logos {
    display: none;
  }
}
.footer {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1400px) {
  .footer {
    height: max-content;
  }
}
.footer--contacts {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 107px 0;
  box-sizing: border-box;
}
@media screen and (max-width: 1130px) {
  .footer--contacts {
    flex-direction: column;
  }
}
@media screen and (max-width: 515px) {
  .footer--contacts {
    padding-bottom: 0;
  }
}
.footer--contacts .background {
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("../assets/images/bgFooter.jpg");
  background-position-x: -65px;
  background-position-y: -210px;
  background-repeat: no-repeat;
  background-size: calc(100% + 70px) auto;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media screen and (max-width: 1439px) {
  .footer--contacts .background {
    background-size: 100% auto;
    background-position-x: 0;
    background-size: 150% auto;
  }
}
@media screen and (max-width: 1130px) {
  .footer--contacts .background {
    background-size: auto calc(100% + 210px);
  }
}
.footer--contacts .form {
  width: 90%;
  height: 461px;
  max-width: 615px;
  padding: 31px 30px 30px 33px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 15px;
}
@media screen and (max-width: 1295px) {
  .footer--contacts .form {
    width: 50%;
  }
}
@media screen and (max-width: 1130px) {
  .footer--contacts .form {
    width: 90%;
    margin: 15px 0;
  }
}
@media screen and (max-width: 515px) {
  .footer--contacts .form {
    width: 100%;
  }
}
.footer--contacts .form input {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #fff;
  padding-left: 5px;
  box-sizing: border-box;
}
.footer--contacts .form textarea {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  width: 100%;
  height: 110px;
  margin-bottom: 39px;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #fff;
  padding-left: 5px;
  box-sizing: border-box;
  margin-top: 10px;
}
.footer--contacts .form *::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
}
.footer--contacts .form .btn_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer--contacts .form .btn_block .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 244px;
  height: 52px;
  background-color: #6eeee4;
  color: #2e6b66;
  border: none;
  font-weight: bold;
  letter-spacing: 0.12rem;
  transition: all 1s ease;
}
.footer--contacts .form .btn_block .btn:hover {
  background-color: #2e6b66;
  color: #fff;
  transition: all 1s ease;
}
.footer--contacts .map {
  width: 500px;
  height: 461px;
  margin: 15px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px 24px 30px 19px;
}
@media screen and (max-width: 1130px) {
  .footer--contacts .map {
    width: 90%;
    max-width: 615px;
    margin: 15px 0;
  }
}
@media screen and (max-width: 515px) {
  .footer--contacts .map {
    width: 100%;
  }
}
.footer--contacts .map--text {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #fff;
  text-align: left;
  box-sizing: border-box;
  padding-left: 9px;
  line-height: 24px;
}
.footer--contacts .map--text a {
  color: #fff;
}
.footer--contacts .map--text:nth-child(5) {
  margin: 23px auto 0px auto;
}
.footer--contacts .map--container {
  width: 100%;
  height: 224px;
  margin: 20px auto 0px auto;
}
.footer--social_links {
  background-color: #262b2e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
}
@media screen and (max-width: 515px) {
  .footer--social_links {
    height: 200px;
  }
}
.footer--social_links .title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px;
}
.footer--social_links .links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px auto 40px;
}
.footer--social_links .links a {
  width: 46px;
  height: 40px;
  background-color: #424648;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.5px;
  color: #bbb8b9;
  font-size: 20px;
}
.footer--social_links .links a:hover {
  color: #081e1c;
  background-color: #6eeee4;
}
.footer--social_links .copyright {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
}
.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}
@media screen and (max-width: 1130px) {
  .overlay {
    padding: 0px;
  }
}
.overlay.open {
  opacity: 1;
  pointer-events: inherit;
  z-index: 10;
}
.overlay .modal {
  background: white;
  text-align: center;
  padding: 40px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 80vh;
  max-width: 60vw;
  overflow-y: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 80%;
  box-sizing: border-box;
}
@media screen and (max-width: 1130px) {
  .overlay .modal {
    padding: 0px;
    width: 95%;
    max-width: 100vw;
  }
}
.overlay .modal.open {
  opacity: 1;
  pointer-events: inherit;
}
.overlay .modal img {
  width: 100%;
}
